# Libraries
# *.lvlibp
# *.llb

# Shared objects (inc. Windows DLLs)
# *.dll
# *.so
# *.so.*
# *.dylib

# Executables
# *.exe

# Metadata
*.aliases
*.lvlps

Dialogue_lib/Anoconda标签改动版_zzg/
# 体积太大，废品程序太多